<template>
  <div class="container mx-auto px-4 xl:px-52 rounded-2xl
          project-showcase bg-gray-100 py-20 text-center text-black">
    <h2 class="text-4xl mb-6">Starring Projects</h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7" v-if="projects">
      <li class="border-gray-500 border-2 overflow-hidden rounded-2xl" v-for="project in projects">
        <div class="ratio-project-image relative ">
          <div class="image-item bg-cover bg-center" v-bind:style="'background-image:url(' + project.image + ')'"></div>
        </div>
        <div class="py-4">{{project.title}}</div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "AboutShowcase",
  props: {
    projects: {
      type: Object,
    }
  }
}
</script>

<style scoped lang="scss">
.ratio-project-image{
  &:before{
    padding-top: 75%;
    content: '';
    display: block;
  }
  >*{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
</style>
