<template>
  <div class="comment-box py-8">
    <h2 class="text-2xl font-bold text-yellow-600 mb-4">Have your say, leave a comment...</h2>
    <form action="" method="POST"  v-if="$auth.loggedIn">
      <div class="hint text-sm">Please note that all spams and ads will be removed. By replying,
        you accept the terms of use of the blog and the author reserves right to hide, remove, or edit your post content.
      </div>
      <label class="block my-4">
        <span class="block">Name* </span>
        <input type="text" name="comment_author" class="form-input w-full rounded border-gray-400 ">
      </label>
      <label class="block my-4">
        <span class="block">Email* </span>
        <input type="email" name="comment_email" class="form-input w-full rounded border-gray-400 ">
      </label>
      <textarea class="block form-textarea w-full rounded h-48 border-gray-400" name="comment_content"></textarea>
      <button class="py-3 my-3 bg-green">Reply</button>
    </form>
    <nuxt-link to="/login" v-else class="p-3 my-3 bg-yellow-600 text-white inline-block rounded">Login to reply</nuxt-link>
  </div>
</template>

<script>
export default {
  name: "CommentBox",
}
</script>

<style scoped>

</style>
