<template>
  <section class="reply-section container mx-auto px-4 lg:px-40">
    <div class="reply-display" v-if="comments">
      <h2  class="text-2xl text-blue-500 font-bold">
        {{comments.length}} Comment{{ (comments.length > 1) ? 's' : ''}}
      </h2>
      <div class="reply border-2 border-gray-100 rounded-3xl my-10 p-5 relative"
           v-for="(comment, index) in comments">
        <div class="name-tag relative md:absolute md:-top-4 px-3 py-2 rounded-full bg-blue-100">
          {{comment.author}}
        </div>
        <div class="comment-index absolute right-5 top-5 md:-top-4 md:-right-4
        h-10 w-10 rounded-full bg-indigo-600 flex justify-center items-center text-white font-bold">{{index +1}}</div>
        <div class="comment-wrapper pt-3">
          <time class="font-bold">{{comment.date | getReplyDateTime}}</time>
          <div class="mt-5">
            {{comment.content}}
          </div>
        </div>
      </div>
    </div>
    <CommentBox v-if="open_for_new_comment"></CommentBox>
    <div v-else class="py-20 text-center">
      Sorry, the comment function is disabled.
    </div>
  </section>
</template>

<script>
import CommentBox from "@/components/CommentBox";
var dayjs = require('dayjs')
export default {
  components: {
    CommentBox
  },
  props: {
    comments: {
      type: Array,
    },
    open_for_new_comment: {
      type: Boolean,
      default: true,
    }
  },
  filters: {
    getReplyDateTime(time) {
      return dayjs(time).format('DD MMMM, YYYY HH:mm')
    }
  }
}
</script>

<style scoped>

</style>
