<template>
  <div class="bg-gray-500 py-4 px-4 text-white">
    {{appVersion}}
  </div>
</template>

<script>
import { version } from '~/package.json'
export default {
  name: "TheFooter",
  computed: {
    appVersion() {
      return version;
    }
  }
}
</script>

<style scoped>

</style>
