<template>
  <div>
    <NuxtLink
      v-bind:to="(post_data) ? `/article/${post_data.slug}` : ''"
      class="block border-2 rounded-2xl border-gray-100
   hover:border-white hover:bg-gray-300 relative px-5 pb-5 my-10">
      <div class="thumbnail-container relative rounded-t-2xl overflow-hidden -mx-5">
        <div class="bg-center bg-no-repeat bg-cover bg-gray-200" v-if="!post_data.thumbnail_srcset"></div>
        <img v-else v-bind:srcset="post_data.thumbnail_srcset" class="object-cover object-center" alt="">
      </div>
      <time
        style="min-width: 91px"
        class="static inline-block md:absolute md:-top-5 p-1.5 mt-4 md:mt-0 rounded-full bg-blue-600 text-white h-9 font-bold">
        {{ (post_data.date) ? blog_date: ''}}
      </time>
      <div class="pt-5">
        <div v-if="!post_data.title && !post_data.excerpt">
          <div class="w-100 h-8 bg-gray-200 rounded-full mb-4 rounded-title-placeholder overflow-hidden"></div>
          <div class="bg-gray-200 rounded-2xl h-24"></div>
        </div>
        <div v-else>
          <h3 class="text-2xl font-bold mb-4" v-if="post_data" v-html="(post_data.title) ? post_data.title : ''"></h3>
          <article v-html="(post_data.excerpt) ? post_data.excerpt: ''"></article>
        </div>
      </div>
    </NuxtLink>
  </div>
</template>

<script>
export default {
  name: "ThePostExcerpt",
  props: {
    post_data: {
      type: Object
    }
  },
  computed: {
    blog_date() {
      var options = {year: 'numeric', month: 'long', day: 'numeric'}
      var date = new Date(this.post_data.date)
      return date.toLocaleDateString('en-GB', options)
    }
  }
}
</script>

<style lang="scss">
.thumbnail-container{
  &:before{
    padding-top: 50%;
    content: '';
    display: block;
  }
  >*{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.rounded-title-placeholder{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #FFFAFA;
    box-shadow: 0 0 .5rem 1rem #FFFAFA;
    animation-name: placeholder_animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes placeholder_animate {
  0% {
    left: 0;
  }
  100%{
    left: 100%;
  }
}
</style>
