<template>
  <div>
    <section class="page-article">
      <PageSocialHeader
        v-bind:title="post_data.title"
        v-bind:image="post_data.thumbnail">
      </PageSocialHeader>
      <div>
        <ThePost
          v-bind:post_data="post_data"></ThePost>
      </div>
    </section>
  </div>
</template>

<script>
import TheBreadcrumb from "../../../components/TheBreadcrumb";
export default {
  components: {TheBreadcrumb},
  transition: {
    name: 'home',
    mode: 'out-in'
  },
  data() {
    return {
      post_comments: '',
      structuredData: {},
    }
  },
  mounted() {
  },
  computed: {
  },
  async asyncData({ params, $axios }) {
    const post_data = await $axios.$get(
     '/wp-json/headless-blog/v1/post/' + params.slug
    )
    var aboutArray = [];
    if(post_data.category){
      post_data.category.forEach((category) => {
        aboutArray.push(category.name)
      })
    }

    const structuredData = {
      "@context" : "http://schema.org",
      "@type": 'Article',
      "name" : post_data.title,
      "description" : post_data.content.substring(0, 100).replace(/(<([^>]+)>)/gi, ""),
      "about": aboutArray,
      "dateCreated": post_data.date,
      "author": "Raynold Chow",
      "datePublished" : post_data.date,
      "headline": post_data.title.substring(0, 100),
      "image": post_data.thumbnail,
      "publisher": {
        "@type":"Organization",
        "name":"Raynold Chow",
        "logo" : "/favicon.ico"
      }
    }
    return { post_data, structuredData};
  },
  head(){
    return {
      script: [{type: 'application/ld+json', json: this.structuredData}]
    }
  },
  async fetch(){
    this.post_comments = await this.$axios.$get(process.env.BACKEND_ADDR + '/wp-json/headless-blog/v1/comments/' + this.$route.params.slug);
  }
}
</script>

<style scoped>
.page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
</style>
