<template>
  <div>
    <TheHeader></TheHeader>
    <TheDialogStyleOne></TheDialogStyleOne>
    <Nuxt />
    <CookieControl>
      <template v-slot:bar>
        <h3 class="font-bold">Cookies</h3>
        <p>{{$cookies.text.barDescription}}</p>
      </template>
    </CookieControl>
    <TheFooter></TheFooter>
  </div>
</template>

<script>
import TheHeader from "~/components/TheHeader";
export default {
  components: {
    TheHeader
  },
}
</script>
